@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&family=Poppins:wght@300;400;500;600;700&family=Sedgwick+Ave+Display&family=Tilt+Prism&display=swap');

:root {
    --main-color: #e75188;
    --color-dark: #1d2231;
    --text-gray: #8390a2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Poppins;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    display: inline-block;
}

body {
    background: #f1f5f8;
}

.sidebar {
    background: var(--main-color);
    width: 345px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 1rem;
    transition: .3s;
}

.sidebar-brand {
    padding: 1rem;
    color: #fff;
}

.sidebar-brand .logo {
    /* margin-right: .8rem; */
    /* font-family: 'Sedgwick Ave Display', cursive; */
    /* font-family: 'Nova Oval', cursive; */
    font-family: 'Tilt Prism', cursive;
    text-align: center;
}

.sidebar ul {
    margin-top: 2rem;
}

.sidebar li {
    padding: .3rem;
    padding-right: 0;
    width: 100%;
}

.sidebar li a {
    padding: .8rem 1rem;
    padding-right: 0;
    display: block;
    font-size: 1.1rem;
    color: #fff;
    transition: .3s;
    border-radius: 30px 0 0 30px;
}

.sidebar li a i {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.sidebar li a.active {
    cursor: auto;
}

.sidebar li a.active,
.sidebar li a:hover {
    background: #f1f5f8;
    color: var(--main-color);

}

/* = */

#sidebar-show,
#sidebar-show:checked+.sidebar .sidebar-brand span:last-child,
#sidebar-show:checked+.sidebar li span:last-child {
    display: none;
}

#sidebar-show:checked+.sidebar {
    width: 70px;
    padding-left: 0;
}

#sidebar-show:checked+.sidebar li a {
    text-align: center;
}

#sidebar-show:checked+.sidebar .sidebar-brand {
    text-align: center;
}

#sidebar-show:checked~.main-content {
    margin-left: 70px;
}


#sidebar-show:checked~.main-content header,
#sidebar-show:checked~.main-content main {
    width: calc(100% - 70px);
    left: 70px;
}

#sidebar-show:checked~.main-content .cards {
    gap: 2rem;
}

/* ==================== */

.main-content {
    margin-left: 345px;
    transition: .3s;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem 1.5rem;
    position: fixed;
    top: 0;
    left: 345px;
    width: calc(100% - 345px);
    transition: all .3s;
    background: #f1f5f8;
    z-index: 200;
}

.header-title {
    font-size: 1.4rem;
}

.header-title h3 {
    margin-left: 1rem;
}

.header-title i {
    display: inline-block;
    cursor: pointer;
    background: var(--main-color);
    padding: .4rem .5rem;
    border-radius: 10px;
    color: #f5f5f5;
    transition: .3s;
    border: 1px solid var(--main-color);
}

.header-title i:hover {
    background: #f1f5f8;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.header-title span:last-child {
    font-weight: 700;
}


.header-search {
    border: 1px solid #2b2b2b;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header-search i {
    margin-left: .5rem;
    padding-right: .5rem;
    font-size: 1.1rem;
    cursor: pointer;
    color: #555;
    transition: color .3s;
}

.header-search i:hover {
    color: var(--main-color)
}

.header-search input {
    width: 100%;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    background: transparent;
}

.header-user {
    display: flex;
    justify-content: space-between;
}

.header-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: .6rem;
}

.header-user-info {
    display: flex;
    flex-direction: column;
    color: #444;
}

main {
    margin-top: 80px;
    height: calc(100vh - 80px);
    background: rgba(255, 0, 0, 0.379);
    padding: 2rem 1.5rem;
    position: fixed;
    overflow: auto;
    right: 0;
    left: 345px;
    transition: .3s;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card-single {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-radius: 7px;
}

.card-single:last-child {
    background: var(--main-color);
    color: #fff;
}

.card-single:last-child .card-left span {
    /* background: var(--main-color); */
    color: #ededed;
}

.card-single i {
    font-size: 2rem;
}

.card-left h1 {
    display: block;
}

.card-left span {
    color: #556;
}

.main-grid {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 60% auto;
    gap: 2rem;
    align-items: start;
}

.recent-grid, .customers-grid {
    background: #fff;
    border-radius: 10px;
    padding: 0 1.5rem;
}

.grid-header {
    padding: 1rem 0;
    border-bottom: 1px solid #e6e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: .7rem; */
}

.grid-header a {
    background: var(--main-color);
    color: #fff;
    display: inline-block;
    padding: .5rem .6rem;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    transition: .3s;
    /* font-weight: bold; */
    font-size: .9rem;
}

.grid-header a:hover {
    background: #fff;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.grid-body {
    padding: .3rem;
}

.table-responsive {
    text-align: left;
    overflow-x: scroll;
}

table {
    width: 100%;
    /* min-width: 500px; */
}

table th {
    border-bottom: 1px solid #e0e0e0;
    font-size: .9rem;
}

/* table th:last-child {
    width: 140px;
} */

table th, td {
    padding: .5rem;
}

table td {
    color: #666;
    font-size: .99rem;
}

table td:last-child span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    line-height: 12px;
    margin-right: .5rem;
}

table td:last-child span.purple {
    background: purple;
}

table td:last-child span.red {
    background: red;
}

table td:last-child span.yellow {
    background: rgb(150, 150, 16);
}

/* customer area*/

.customers {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: .7rem;
    padding-bottom: .7rem;
}

.customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.customer-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.customer-info div {
    display: flex;
    flex-direction: column;
}

.customer-info h4 {
    font-weight: 600;
    color: #333;
    font-size: .8rem;
}

.customer-info small {
    font-size: 13px;
}

.customer-contact i {
    display: inline-block;
    color: var(--main-color);
    margin-left: .3rem;
    cursor: pointer;
    transition: .3s;
}

.customer-contact i:hover {
    color: var(--text-gray)
}

@media screen and (max-width: 1200px) {

    #sidebar-show,
    .sidebar .sidebar-brand span:last-child,
    .sidebar li span:last-child {
        display: none;
    }

    .sidebar {
        width: 70px;
        padding-left: 0;
        z-index: 300;
    }

    .sidebar li a {
        text-align: center;
    }

    .sidebar .sidebar-brand {
        text-align: center;
    }

    .main-content {
        margin-left: 70px;
    }


    .main-content header,
    .main-content main {
        width: calc(100% - 70px);
        left: 70px;
    }

    .main-content .cards {
        gap: 2rem;
    }

    .sidebar:hover .sidebar-brand span:last-child,
    .sidebar:hover li span:last-child {
        display: inline-block;
    }

    .sidebar:hover {
        width: 345px;
        padding-left: 1rem;
    }

    .sidebar:hover li a {
        text-align: left;
    }

    .sidebar:hover .sidebar-brand {
        text-align: left;
    }

}

@media screen and (max-width: 1060px) {
    .main-grid {
        grid-template-columns: 55% auto;
    }
}

@media screen and (max-width: 960px) {
    .cards {
        grid-template-columns: repeat(3, 1fr)
    }

    .main-grid {
        grid-template-columns: 50% auto;
    }

    table td {
        font-size: .9rem;
    }
}

@media screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr)
    }

    main {
        left: 0 !important;
        width: 100% !important;
    }

    .main-grid {
        grid-template-columns: 100%;
    }

    .header-search {
        display: none;
    }

    .sidebar {
        left: -100%;
    }

    header {
        width: 100% !important;
        left: 0 !important;
        margin-left: 0 !important;
    }

    #sidebar-show:checked+.sidebar {
        left: 0;
        width: 345px;
        z-index: 100;
    }

    #sidebar-show:checked+.sidebar .sidebar-brand span:last-child,
    #sidebar-show:checked+.sidebar li span:last-child {
        display: inline-block;
    }

    #sidebar-show:checked+.sidebar {
        width: 345px;
        padding-left: 1rem;
    }

    #sidebar-show:checked+.sidebar li a {
        text-align: left;
    }

    #sidebar-show:checked+.sidebar .sidebar-brand {
        text-align: left;
    }
}

@media screen and (max-width: 560px) {
    .cards {
        grid-template-columns: 100%;
        gap: .8rem !important;
    }

    .header-title h3 {
        font-size: 1.2rem;
    }

    .header-user-info h4 {
        font-size: .9rem;
    }

    .header-user-info small {
        font-size: .7rem;
    }


    .header-title i {
        font-size: 1.1rem;
    }
}